<!DOCTYPE html>
<html>
<head>
    <title>Buy Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Buy {{ product[0] }}</h1>
<p>Price: ₹{{ product[1] }}</p>

<form action="/place_order" method="POST">

    <input type="hidden" name="product" value="{{ product[0] }}">

    <input type="text" name="name" placeholder="Your Name" required>
    <input type="number" name="age" placeholder="Age" required>
    <input type="text" name="phone" placeholder="Phone Number" required>
    <input type="text" name="address" placeholder="Address" required>
    <input type="number" name="quantity" placeholder="Quantity" required>

    <button type="submit">Place Order</button>
</form>

<a href="/"><button>Back</button></a>

</body>
</html>
