<!DOCTYPE html>
<html>
<head>
    <title>My Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>🛒 My Store</h1>

<div class="container">
{% for p in products %}
    <div class="card">
        <h2>{{ p[0] }}</h2>
        <p>₹{{ p[1] }}</p>
        <p>Stock: {{ p[2] }}</p>
        <p>Category: {{ p[3] }}</p>

        <a href="/buy/{{ p[0] }}">
            <button>Buy Now</button>
        </a>
    </div>
{% endfor %}
</div>

</body>
</html>
